* {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 0;
  margin: 0;
  vertical-align: baseline;
  list-style: none;
  border: 0;
  text-decoration: none;
}
nav {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: gray;
  padding: 5px;
}
html,
body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}
footer {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-color: gray;
  padding: 5px;
}
